<h1>Time for <%= @user || "Anyone" %></h1>

<% remote_form_for TimeSlice.new(:activity => @task, :user => @user), :url => time_path(:user_id => @user, :format => :js) do |form| -%>
  <% content_tag :table, :id => "time-table" do -%>
    <thead>
      <tr><th>Hours</th><th>Date</th><th>User</th><th>Summary</th><th></th></tr>
      <% unless @task.blank? -%>
        <tr id="new_task_row">
          <td><%= form.text_field :hours, :class => :hours %></td>
          <td><%= form.text_field :date, :class => :date, :value => form.object.date.readable_inspect %></td>
          <td><%= form.object.user %><%= form.hidden_field :user_id %><%= form.hidden_field :activity_type %><%= form.hidden_field :activity_id %></td>
          <td><%= form.text_field :summary %></td>
          <td><%= form.submit "Add", :class => "inline button" %>
        </tr>
      <% end -%>
    </thead>
    <tbody>
      <%= render :partial => "time/time_slice", :collection => @times %>
    </tbody>
    <tfoot>
      <tr class="empty">
        <td colspan="5">Nothing to display here right now.</td>
      </tr>
    </tfoot>
  <% end -%>  
<% end -%>

<%= facebox_close_button if request.xhr? %>

<% javascript_tag do -%>
  function empty_time_table_message() {
    $('#time-table tr.empty').toggle($('#time-table tbody tr').length == 0);
  }
  empty_time_table_message();
<% end -%>