<h1>Record Time</h1>

<%= graph_recent_activity(@times, nil, :heading => false, :class => "popup graph #{dom_id(@user)}") %>

<% remote_form_for TimeSlice.new(:task => @task, :user => @user, :hours => "1"), :url => time_path(:user_id => @user, :format => :js), :success => "$('#time-entry-form')[0].reset();", :html => { :id => "time-entry-form" } do |form| -%>
  <% content_tag :table, :id => "time-table" do -%>
    <thead>
      <tr><th>Hours</th><th>Date</th><th>User</th><th>Summary</th><th></th></tr>
      <% unless @task.blank? -%>
        <tr id="new_task_row">
          <td><%= form.text_field :hours, :class => :hours %></td>
          <td><%= form.text_field :date, :class => :date, :value => form.object.date.to_s(:date_picker), :autocomplete => :off %></td>
          <td>
						<% if @users.size == 1 -%>
							<%= form.object.user %><%= form.hidden_field :user_id %>
						<% else -%>
							<%= form.select :user_id, @users.collect { |u| [ u.to_s, u.id ] } %>
						<% end -%>
						<%= form.hidden_field :task_id %>
					</td>
          <td><%= form.text_field :summary %></td>
          <td><%= form.submit "Add", :class => "inline add button" %>
        </tr>
      <% end -%>
    </thead>
    <tbody>
      <%= render :partial => "time/time_slice", :collection => @times %>
    </tbody>
    <tfoot>
      <tr class="empty">
        <td colspan="5">Nothing to display here right now.</td>
      </tr>
    </tfoot>
  <% end -%>  
<% end -%>

<%= facebox_close_button if request.xhr? %>

<% javascript_tag do -%>
	$(document).ready(function() {
		$('#time_slice_hours').time_picker();
	});

  function empty_time_table_message() {
    $('#time-table tr.empty').toggle($('#time-table tbody tr').length == 0);
  }
  empty_time_table_message();

	function delete_time(id) {
		$('#time_slice_' + id).fadeOut('normal', function() { $(this).remove(); empty_time_table_message(); });
		$.ajax({ data:{ _method:'delete' }, dataType:'script', type:'post', url:'/time/'+id+'.js' });
		return false;
	}
<% end -%>