<%= form.error_messages %>
<ol class="form">
	<li class="text"><%= form.label :name %> <%= form.text_field :name, :class => "text" %></li>
	<li class="text">
		<%= label_tag "Assign to" %>
		
		<div class="assignments">
			<%= form.check_box :anybody %> <%= form.label :anybody %>
			<dl>
				<% current_users.group_by(&:company).each do |company, users| -%>
					<dt><%= company %></dt>
					<%= task_assignment_fields_for form, users %>
				<% end -%>
			</dl>
			<%= clear_floats %>
			<% javascript_tag do -%>
				$('#task_anybody').click(function() { $('#task_anybody').siblings('dl').slideToggle(); })
				function show_or_hide_assignments() {
					if ($('#task_anybody')[0].checked) {
						$('#task_anybody').siblings('dl').hide();
					} else {
						$('#task_anybody').siblings('dl').show();
					}
				}
			<% end -%>
		</div>
	</li>
	<li class="buttons">
		<%= link_to_function "Cancel", "$.facebox.close()", :class => "cancel button" %>
		<%= form.submit button, :class => "ok button" %>
	</li>
</ol>
