<%= form.error_messages %>
<%= form.hidden_field :task_list_id %>
<ol class="form">
	<li class="text"><%= form.label :name %> <%= form.text_field :name, :class => "text" %></li>
	<li class="text">
		<%= label_tag "Assign to" %>
		
		<div class="assignments">
			<%= form.check_box :anybody %> <%= form.label :anybody %>
			<ul>
				<% form.fields_for :assignments do |fields| -%>
					<% content_tag :li, :id => dom_id(fields.object) do -%>
						<%= assignment_user_selector "task[assignments_attributes][#{fields.object.id}][user_id]", current_users, fields.object.user_id, current_user %>
						<%= fields.text_field :estimate, :class => "text hours" %>
						<%= link_to_function "Delete", "delete_assignment(this)", :class => "inline delete button" %>
					<% end -%>
				<% end -%>
				<% content_tag :li, :id => "new_assignment_row" do -%>
					<%= content_tag :label, "Add:", :for => "new_assignment_id" %> <%= assignment_user_selector "new_user_id", current_users, nil, current_user, :include_blank => true %>
				<% end -%>
			</ul>
			<%= clear_floats %>
		</div>
	</li>
	<li class="text">
	  <%= form.label :billable, "More options" %>
	  <ol class="form">
	    <li class="checkbox"><%= form.check_box :billable %> <%= form.label :billable %></li>
	    <li class="checkbox"><%= form.check_box :has_due_date %> <%= form.label :has_due_date, "Due on" %> <%= form.text_field :due_on, :class => "date", :value => (form.object.has_due_date? ? form.object.due_on : Date.today).to_s(:date_picker) %></li>
	  </ol>
	</li>
	<li class="buttons">
		<%= link_to_function "Cancel", "$.facebox.close()", :class => "cancel button" %>
		<%= form.submit button, :class => "ok button" %>
	</li>
</ol>

<% javascript_tag do -%>
	var id_for_new_assignment = 1;
	$('#new_user_id').change(function() {
		if ((user_id = $(this).val()) != '') {
			var id = id_for_new_assignment++;
			var new_row = $(this).parent('li').before('<li></li>').prev('li');
			var new_selector = $(this).clone().appendTo(new_row).attr({
			 	id:   'task_assignments_attributes_new_' + id + '_user_id',
			 	name: 'task[assignments_attributes][new_' + id + '][user_id]'
			 }).val(user_id);
			new_row.append('<input class="text hours" name="task[assignments_attributes][new_' + id + '][user_id]" id="task_assignments_attributes_new_' + id + '_user_id" />');
			new_row.append('<a href="#" onclick="delete_new_assignment(this); return false;" class="inline delete button">Delete</a>');
			$(this).val('');
		}
	});
	
	function delete_assignment(a) {
		console.log($(a).parents('form'));
		var id = $(a).parent('li')[0].id.replace(/^[^0-9]+/, '');
		$(a).closest('form').append('<input type="hidden" name="task[assignments_attributes][' + id + '][_delete]" value="1" />');
		$(a).closest('li').remove();
	}
  
	function delete_new_assignment(a) {
		$(a).closest('li').remove();
	}

<% end -%>
