<%= form.error_messages %>
<%= form.hidden_field :task_list_id %>
<ol class="form">
	<li class="text"><%= form.label :name %> <%= form.text_field :name, :class => "text" %></li>
	<li class="text">
		<%= label_tag "Assign to" %>
		
		<div class="assignments">
			<%= form.check_box :anybody %> <%= form.label :anybody %>
			<dl>
				<% current_users.group_by(&:company).each do |company, users| -%>
					<dt><%= company %></dt>
					<%= task_assignment_fields_for form, users %>
				<% end -%>
			</dl>
			<%= clear_floats %>
		</div>
	</li>
	<li class="text">
	  <%= form.label :billable, "More options" %>
	  <ol class="form">
	    <li class="checkbox"><%= form.check_box :billable %> <%= form.label :billable %></li>
	    <li class="checkbox"><%= form.check_box :has_due_date %> <%= form.label :has_due_date, "Due on" %> <%= form.text_field :due_on, :class => "date", :value => (form.object.has_due_date? ? form.object.due_on : Date.today).readable_inspect %></li>
	  </ol>
	</li>
	<li class="buttons">
		<%= link_to_function "Cancel", "$.facebox.close()", :class => "cancel button" %>
		<%= form.submit button, :class => "ok button" %>
	</li>
</ol>

<% javascript_tag do -%>
	$('#task_anybody').click(function() { $('#task_anybody').siblings('dl').slideToggle(); })
	function show_or_hide_assignments() {
		$('#task_anybody').siblings('dl').toggle(!$('#task_anybody')[0].checked);
	}
	show_or_hide_assignments();
	
	$('#task_has_due_date').click(function() {
	  enable_disable_due_date();
	  if (this.checked) {
	    $('#task_due_on')[0].focus();
	  }
	})
	function enable_disable_due_date() {
	  $('#task_due_on')[0].disabled = !$('#task_has_due_date')[0].checked;
	}
	enable_disable_due_date();
<% end -%>
