<%= form.error_messages %>
<ol class="form">
	<li class="text"><%= form.label :name %> <%= form.text_field :name %></li>
	<li class="text"><%= form.label :display_name %> <%= form.text_field :display_name %></li>
	<li class="text"><%= form.label :email %> <%= form.text_field :email %></li>
	<li class="text"><%= form.label :login %> <%= form.text_field :login %></li>
	<li class="text"><%= form.label :password, form.object.new_record? ? nil : "Change password" %> <%= form.password_field :password %></li>
	<li class="text"><%= form.label :password_confirmation, "Confirm password" %> <%= form.password_field :password_confirmation %></li>
	<li class="text"><%= form.label :phone %> <%= form.text_field :phone %></li>
	<li class="text"><%= form.label :extension %> <%= form.text_field :extension %></li>
	<li class="text"><%= form.label :mobile %> <%= form.text_field :mobile %></li>
	<li class="text"><%= form.label :avatar, "Choose a picture" %> <%= form.file_field :avatar %></li>
	<li class="text"><%= form.label :company_id %> <%= form.select :company_id, current_account.companies.collect { |c| [ c.name, c.id ] } %></li>
	<li class="text">
		<%= form.label :roles %>
		<ul class="roles">
			<% if current_user.admin? -%>
				<li class="checkbox"><%= form.check_box :admin %> <%= form.label :admin, "Administrator" %></li>
			<% end -%>
			<% Role.all.each do |role| -%>
				<li class="checkbox"><%= check_box_tag "user[role_ids][]", role.id, form.object.has_role?(role), :id => "user_role_#{role.id}" %> <%= form.label "user_role_#{role.id}", role %></li>
			<% end -%>	
		</ul>
	</li>
	<li class="buttons">
		<%= link_to "Back to People", people_path, :class => "cancel button" %>
		<%= form.submit button, :class => "ok button" %>
	</li>
</ol>