<% content_for :page_title, @wiki_page.page_title -%>

<% content_for :title do -%>
	<% content_tag :h1 do -%>
		<%= @wiki_page.page_title %>
		<%= link_to "Edit", edit_full_wiki_page_path(@wiki_page), :class => "inline edit button" %>
	<% end -%>
<% end -%>

<% content_tag :div, :class => "wiki-page" do -%>
	<% cache :action => "show", :id => @wiki_page.to_param do -%>
		<%= @wiki_page.body %>
	<% end -%>
<% end -%>

<% content_tag :div, :id => "history" do -%>
	<h2>History <%= link_to_function "<small>View</small>", "toggle_history()", :class => "toggle inline button" %></h2>
	<% content_tag :div, :class => "collapsible", :style => "display: none" do -%>
		<%= image_tag "/facebox/loading.gif", :alt => "Loading..." %>
	<% end -%>
<% end -%>

<% javascript_tag do -%>
	function toggle_history() {
		$('#history').children('.collapsible').toggle();
		if ($('#history').find('.history').length == 0) {
			$('#history .collapsible').load('/wiki/<%= @wiki_page.id %>/history');
		}
	}
<% end -%>

<% content_for :sidebar do -%>
	<%= render :partial => "search" %>
	<%= render :partial => "categories" %>
<% end -%>
