<%= form.error_messages %>
<ol class="form">
	<li class="text"><%= form.label :name %> <%= form.text_field :name, :class => "text" %></li>
	<li class="text"><%= form.label :description %> <%= form.text_area :description, :rows => 4 %></li>
	<li class="text"><%= form.label :company_id %> <%= form.select :company_id, current_account.companies.collect { |c| [ c.name, c.id ] }, {}, :disabled => !params[:company_id].blank? %></li>
	<li class="buttons"><%= form.submit button, :class => "button" %></li>
</ol>
