<% content_for :title do -%>
	<h1><%= @project %> <small>(<%= link_to @project.company, company_path(@project.company) %>)</small></h1>
<% end -%>

<% content_tag :div, :id => dom_id(@project, :lists), :class => :lists do -%>
	<%= render :partial => @project.task_lists %>
<% end -%>

<% content_for :sidebar do -%>
	<%= link_to "New task list", new_project_list_path(@project), :class => "add button" %>
	<%= link_to "Edit", edit_project_path(@project), :class => "edit button" %>
<% end -%>

