<%= form.error_messages %>
<ol class="form">
	<li class="text"><%= form.label :name %> <%= form.text_field :name, :class => "text" %></li>
	<li class="textarea"><%= form.label :description %> <%= form.text_area :description %></li>
	<li class="buttons"><%= form.submit button, :class => "button" %></li>
</ol>
