<% form_for @user_session, :url => user_session_path, :html => { :id => "login-form" } do |form| %>
	<ol class="form">
  	<li class="text"><%= form.label :login %> <%= form.text_field :login, :class => :text %></li>
  	<li class="text"><%= form.label :password %> <%= form.password_field :password, :class => :text %></li>
  	<li class="checkbox"><%= form.check_box :remember_me %> <%= form.label :remember_me %></li>
  	<li class="buttons"><%= form.submit "Log in", :class => :button %></li>
	</ol>
<% end %>