<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= [ yield(:page_title), "hubbub" ].compact * " | " %></title>
	<%= stylesheet_link_tag "application", "/facebox/facebox", controller.controller_name %>
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <%= javascript_include_tag :defaults, "/facebox/facebox" %>
</head>
<body>
	<div id="container">
		<div id="header">
			<div id="header-inner">
				<a id="logo" href="/">Hubbub</a>
				
				<%= tabs %w(projects people) %>
				
				<div id="account">
					<%= content_tag :span, current_agency, :class => :agency %>
					<%= link_to current_user, settings_path, :class => :user %>
					<% content_tag :span, :class => "user-links" do -%>
					  <%= link_to "Settings", settings_path %> |
					  <%= link_to "Log Out", logout_path, :method => :delete %>
					<% end -%>
				</div>
			</div>
		</div>

		<% flash.each_pair do |type, message| -%>
			<%= content_tag :div, message, :class => "flash #{type}" %>
		<% end -%>
		
		<div id="columns">
			<%= content_tag :div, yield(:title), :id => "title" unless yield(:title).blank? %>
			
			<div id="main">
				<div id="main-inner">
					<%= yield %>
				</div>
			</div>
			<div id="sidebar">
				<div id="sidebar-inner">
					<%= yield :sidebar %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
 